@model IEnumerable<GeekShoping.web.Models.ProductModel>

<br />
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Products list</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-action="ProductCreate" class="btn btn-outline-primary">
                <i class="fas fa-plus"></i>Create new product
            </a>
        </div>
    </div>
    <table class="table">
        <tdead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Category</td>
                <td>Pice</td>
                <td>Actions</td>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model ?? Enumerable.Empty<GeekShoping.web.Models.ProductModel>())
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Price.ToString("C2")</td>
                    <td>
                        <a asp-action="ProductUpdate" class="btn btn-success" asp-route-id="@item.Id">
                            <i class="fas fa-edit"></i>
                        </a>
                        @if (User.IsInRole("Admin"))
                        {
                            <form asp-action="ProductDelete" asp-route-id="@item.Id" method="post" style="display:inline;">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir?')"><i class="fas fa-trash"></i></button>
                            </form>
                        }
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
